################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/szedarserver.Core/obj
/.vs/szedarserver
/szedarserver.Api/obj
/szedarserver.Infrastructure/obj
