################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/szedarserver.Core/obj
/.vs/szedarserver
/szedarserver.Api/obj
/szedarserver.Infrastructure/obj
*.dll
/bin
/szedarserver.Api/bin/Debug/netcoreapp3.0
/szedarserver.Core/bin/Debug/netcoreapp3.0
/szedarserver.Infrastructure/bin/Debug/netcoreapp3.0
